.button {
  padding: 0.2rem 1rem;
  font-size: 40px;
  margin: 8rem 0;
  outline: none;
  border: none;
  background-color: rgb(100, 234, 129);
  color: white;
  font-family: Nastup;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all ease 0.1s;
  text-shadow: 3px 3px 1px black;
}

.button:hover {
  background-color: rgba(100, 234, 129, 0.7);
}
