.cont {
  height: 88vh;
  width: 30vw;
  overflow-y: scroll;
}

.title {
  color: rgb(100, 234, 129);
  font-family: Nastup;
  font-size: 30px;
  text-align: center;
  margin: 2rem;
  letter-spacing: 5px;
}

.city {
  color: rgb(168, 186, 172);
  font-family: Fixel;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  height: 8vh;
  overflow-y: scroll;
}

.speedCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3rem;
}

.start {
  color: white;
  text-align: center;
  font-family: Fixel;
  font-size: 1.4rem;
  font-weight: 900;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.infoFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dist {
  color: rgb(168, 186, 172);
  font-family: Fixel;
  font-size: 20px;
  text-align: center;
  width: 60%;
  height: 5vh;
  margin: auto;
  margin-bottom: 2rem;
}

.strongDis {
  color: #64ea81;
  font-size: 23px;
}
