.caption {
  position: absolute;
  padding: 10% 0 0 5%;
  color: white;
  z-index: 5;
  font-size: 36px;
  font-weight: bold;
}

.title {
  color: white;
  margin-bottom: 2rem;
  text-shadow: 4px 4px 0px rgb(0, 0, 0);
}

.highlight {
  color: rgb(100, 234, 129);
  text-shadow: 4px 4px 0px rgb(0, 0, 0);
}

.subtitle {
  font-family: Fixel;
  font-size: 40px;
}
