.cont {
  width: 100vw;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #093b14;
  background-image: url(../../images/forest.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  flex-direction: column;
}

.error {
  color: rgb(239, 61, 61);
}

.not {
  color: white;
}
